@import url('https://fonts.googleapis.com/css?family=DM+Sans');

/* Estilo del cuerpo de la página */
body {
    background-color: #bbbbbb;
    overflow-x: hidden;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
}

/* Estilos - LOGIN */



.login {
    width: 60%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 40%;
    background: rgba(0, 0, 0, 0.9);
}











/* Estilos - HOME */

/* Estilos del contenido del banner */
#banner {
    background-color: #0e4e29;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    color: white;
    text-align: center;
    line-height: 50px;
}


/* Logo */
.mainlogo {
    height: 58px;
    position: absolute;
    top: 8px;
    left: 28px;
}

/* Estilo de lista ordenada con el menú de navegación */
.lista {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: absolute;
    top:  -18px;
    left: 300px;
    padding-right: auto;
}

/* Estilo de los elementos de la lista */
.opcion {
    padding: 9px 25px 8px 25px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;    
}


/* Estilos de vínculos */
a {
    text-decoration: none;
    color: white;
}


a.active {
    text-decoration: underline;
  }


/* Efectos hover de los elementos de la lista */
.opcion:hover {
    background-color: #1c5f38;
    color: #ffffff;
    text-decoration: underline;
}


.dropdown-menu {
    list-style-type: none;
    display: none;
}

.opcion.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 67px;
    left: 129px;
    background-color: #1c5f38;
    padding: 10px;
    width: 156px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }


  
/* Estilo del dropdown cuando se muestra */
.opcion.dropdown:hover .dropdown-menu {
    display: block;
}

/* Estilo de los elementos del dropdown */
.dropdown-menu li {
    padding: 7px;
    text-align: left;
    font-size: 15px;

}


/* Efectos hover de los elementos del dropdown */
.dropdown-menu li:hover {
    background-color: #286943;
    color: #ffffff;
    text-decoration: underline;
}





/* Estilo del search box del banner */
#search-box {
    background-color: #ffffff;
    font-family: "DM Sans";
    color: #000000;
    width: 170px;
    border: 0px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 50px;
    font-size: 14px;
    position: absolute;
    top:  18px;
    left: 1135px;
}


.buscar {
    height: 16px;
    position: absolute;
    top:  23px;
    left: 1300px;
    z-index: 9999;
}

  

button[type="submit"]:hover {
    cursor: pointer;
  }
  


.instagram {
    height: 18px;
    position: absolute;
    top: 24px;
    left: 1070px;
}


.twitter {
    height: 17px;
    position: absolute;
    top: 24px;
    left: 1100px;
}


.bannerbienvenida {
        background-image: url('images/banner.jpg');
        width: 93.5%;
        height: 185px;
        position: absolute;
        top:  110px;
        left: 48px;
        border-radius: 6px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);  
}

.bannerbienvenida::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    z-index: 1;
    pointer-events: none;
}

.bienvenida {
    font-family: "DM Sans";
    color: #ffffff;
    font-size: xx-large;
    position: relative;
    z-index: 8888;
    top: 20px;
    left: 40px;
}

  


.cursos {
    position: relative;
    font-weight: bold;
    color: #0e4e29;
    top:  310px;
    left: 40px;
}
  

/* Estilo de contenedor de Curso 1 */
.curso1 {
    background-image: url('images/cienciasnaturales.jpg');
    width: 405px;
    height: 160px;
    position: absolute;
    top:  380px;
    left: 48px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);  
}

.curso1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    z-index: 1;
    pointer-events: none;
}


.t-curso1 {
    font-family: "DM Sans";
    font-size:xx-large;
    color: #ffffff;
    position: absolute;
    z-index: 8888;
    bottom: 5%;    
    left: 25px;
}


/* Estilo de contenedor de Curso 2 */
.curso2 {
    background-image: url('images/quimica.jpg');
    width: 405px;
    height: 160px;
    position: absolute;
    top:  380px;
    left: 478px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);  
}

.curso2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    z-index: 1;
    pointer-events: none;
}

.t-curso2 {
    font-family: "DM Sans";
    font-size:xx-large;
    color: #ffffff;
    position: absolute;
    z-index: 8888;
    bottom: 5%;    
    left: 25px;
}



/* Estilo de contenedor de Curso 3 */
.curso3 {
    background-image: url('images/programacion.jpg');
    width: 405px;
    height: 160px;
    position: absolute;
    top:  380px;
    left: 905px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);  
}

.curso3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    z-index: 1;
    pointer-events: none;
}


.t-curso3 {
    font-family: "DM Sans";
    font-size:xx-large;
    color: #ffffff;
    position: absolute;
    z-index: 8888;
    bottom: 5%;    
    left: 25px;
}






.noticias {
    position: relative;
    font-weight: bold;
    color: #0e4e29;
    top: 510px;
    left: 40px;
}
  


/* Divs con noticias sobre avances científicos en la rama de la medicina.   */
.noticia_1 {
    width: 94%;
    height: 314px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 510px;
    background-color: #ebebeb;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}



.noticia_2 {
    width: 94%;
    height: 314px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 510px;
    background-color: #ebebeb;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}


.noticia_3 {
    width: 94%;
    height: 314px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 510px;
    background-color: #ebebeb;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}




iframe {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


/* Estilos contenedor 1 - Noticia 1 */
.t_noticia_1 {
    font-family: "DM Sans";
    color: #06182F;
    position:absolute;
    top:97px;
    left: 585px;
    z-index: 9998;
    
}

.p_noticia_1 {
    font-family: "DM Sans";
    font-size: larger;
    color: #06182F;
    position:absolute;
    top:190px;
    left: 585px;
    z-index: 9998;
}

.cortesia1 {
    font-family: "DM Sans";
    font-size: small;
    color: #06182F;
    position:absolute;
    top:260px;
    left: 585px;
    z-index: 9998;
}


/* Estilos contenedor 2 - Noticia 2 */
.t_noticia_2 {
    font-family: "DM Sans";
    color: #06182F;
    position:absolute;
    top:93px;
    left: 585px;
    z-index: 9998;
    
}

.p_noticia_2 {
    font-family: "DM Sans";
    font-size: larger;
    color: #06182F;
    position:absolute;
    top:190px;
    left: 585px;
    z-index: 9998;
}

.cortesia2 {
    font-family: "DM Sans";
    font-size: small;
    color: #06182F;
    position:absolute;
    top:260px;
    left: 585px;
    z-index: 9998;
}


/* Estilos contenedor 3 - Noticia 3 */
.t_noticia_3 {
    font-family: "DM Sans";
    color: #06182F;
    position:absolute;
    top:100px;
    left: 585px;
    z-index: 9998;
    
}

.p_noticia_3 {
    font-family: "DM Sans";
    font-size: larger;
    color: #06182F;
    position:absolute;
    top:190px;
    left: 585px;
    z-index: 9998;
}

.cortesia3 {
    font-family: "DM Sans";
    font-size: small;
    color: #06182F;
    position:absolute;
    top:260px;
    left: 585px;
    z-index: 9998;
}


#menuinferior {
        background-color: #535353;
        font-family: "DM Sans";
        font-size: small;
        color: #ebebeb;
        width: 200%;
        padding: 1px;
        position: absolute;
        top: 1650px;        
        left: 0;
        padding-left: 0%;
}

.listamenu {
    list-style-type: none;
}







/*Estilo de fondo de página de registro*/
#bgprog{
    width: 1440px;
height: 941px;
flex-shrink: 0;
background-image: url('images/programacion1.jpg');
}

/*Contenedor de formulario*/
#formcont{
width: 728px;
height: 773px;
flex-shrink: 0;
border-radius: 20px;
background: rgba(217, 217, 217, 0.90);
position: absolute;
    top:  150px;
    left: 350px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}

/*Estilo para título de formulario*/
.t_curso{
    font-family: "DM Sans";
    display: flex;
position: absolute;
top: 50px;
left: 150px;
color: #0e4e29;
font-size:xx-large;
}

/*Estilo para los label de formulario*/
.nombrereg {
    color: rgba(0, 0, 0, 0.884);
font-family: "DM Sans";
display: flex;
position: absolute;
top: 130px;
left: 100px;
font-size:larger;
}

/*Estilo para input de formularios*/
.nombrebar{
    position: absolute;
    top:  175px;
    left: 100px;
    background-color: #ffffff;
    width: 200px;
    border: 0px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 50px;
    font-size: 14px;
  
}

.cedulareg {
    color: rgba(0, 0, 0, 0.884);
font-family: "DM Sans";
display: flex;
position: absolute;
top: 225px;
left: 100px;
font-size:larger;
}

/*Estilo para input de formularios*/
.cedulabar{
    position: absolute;
    top:  270px;
    left: 100px;
    background-color: #ffffff;
    width: 200px;
    border: 0px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 50px;
    font-size: 14px;
  
}

.horarioreg {
    color: rgba(0, 0, 0, 0.884);
font-family: "DM Sans";
display: flex;
position: absolute;
top: 320px;
left: 100px;
font-size:larger;
}

.horariobar{
    position: absolute;
    top:  360px;
    left: 100px;
    background-color: #ffffff;
    width: 200px;
    border: 0px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 50px;
    font-size: 14px;
  
}

/*Botón de inscribirse a curso*/
.boton_curso{
    position: absolute;
    top:  475px;
    left: 250px;
    background-color:#0e4e29;
    width: 200px;
    border: 0px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 50px;
    font-size: 20px;
    color:#ffffff;
  
}

.volverh{
    font-family: "DM Sans";
    display: flex;
position: absolute;
top: 525px;
left: 300px;
color: #000000;
font-size:small;  
}

/*Estilo de fondo de página de registro*/
#bgcien{
    width: 1440px;
height: 941px;
flex-shrink: 0;
background-image: url('images/ciencias1.jpg');
}

#bgquim{
    width: 1440px;
height: 941px;
flex-shrink: 0;
background-image: url('images/quimica1.jpg');
}
